<footer class="footer py-20px">
   <div class="container">
      <div class="logo pb-10px mb-20px pb-md-50px mb-md-40px">
         <img src="@@webRoot/assets/care/topcare.png" alt="rola-logo" />
      </div>
      <div class=" mb-20px">
         <div class="row align-items-center justify-content-between">
            <div class="col-lg-9">

         <p class="mb-20px">
            Our team focus on top and empathetic care to our valued participants and families.
         </p>
         <div>
         </div>
         <ul class="p-0 m-0 mt-5px mt-sm-0 d-block ">
            <li style="display:block" class="d-block text-white mb-5px">
               Address: 159 Mahoneys Road, Foresthill 3131 Victoria
            </li>
            <li style="display:block" class="d-block text-white mb-5px">
               Email:
               <a href="mailto:admin@topcareandservices.com" class="text-white" target="_blank">
                  admin@topcareandservices.com
               </a>
            </li>
            
            <li class="d-block text-white mb-5">
               Mohini Pandey: 
                <a href="tel:+610452431397" target="_blank" class="text-white"> 
                  0452431397
               </a>
               </li>
               <li class="d-block text-white mb-20px">
                  Bigyan Kandel: 
                  <a href="tel:+610422017494" target="_blank" class="text-white"> 
                     0422017494</a>
                 </li>

                 <li class="d-block text-white">
                  Ready to take our valuable clients at Melbourne and Canberra
                 </li>

         </ul>
         <ul class="p-0  mt-35px  d-block ">
            <li style="display:block" class="d-block text-white mb-5px">
               Canberra
            </li>
            <li style="display:block" class="d-block text-white mb-5px">
               Email:
               <a href="mailto:canberra@topcareandservices.com" class="text-white" target="_blank">
                  canberra@topcareandservices.com
               </a>
            </li>
            
            <li class="d-block text-white mb-5">
               Sabita Karki: 
                <a href="tel:+610411667813" target="_blank" class="text-white"> 
                  0411667813
               </a>
               </li>
               

         </ul>
         <ul class="p-0  mt-35px  d-block ">
            <li style="display:block" class="d-block text-white mb-5px">
               Sydney
            </li>
            <li style="display:block" class="d-block text-white mb-5px">
               Email:
               <a href="mailto:sydney@topcareandservices.com" class="text-white" target="_blank">
                  sydney@topcareandservices.com
               </a>
            </li>
            
            <li class="d-block text-white mb-5">
               Shishir Ghimire: 
                <a href="tel:+610450138997" target="_blank" class="text-white"> 
                  0450138997
               </a>
               </li>
               

         </ul>
      </div>
      <div class="col-lg-3 col-6 py-20px text-start text-lg-end ndis">
         <img src="@@webRoot/assets/care/ndis.svg" alt="I love NDIS"/>
      </div>
   </div>

      </div>
      <div class="copy-right d-flex align-items-center justify-content-between align-items-md-end">
         <div class="d-block d-sm-flex align-items-center">
            <div>
               <p>
                  © TopCare <span id="date">2023</span> 
               </p>
            </div>
            <!-- <div>
               <ul class="p-0 m-0 d-flex ms-sm-25px mt-5px mt-sm-0">
                  <li>
                     <a href="@@webRoot/assets/documents/ROLA-privacy-policy.pdf" target="_blank">Privacy Policy</a>
                  </li>
                  <li class="mx-10px">|</li>
                  <li>
                      <a href="@@webRoot/assets/documents/ROLA-terms-of-use.pdf" target="_blank">Terms of Use</a>
                  </li>
               </ul>
            </div> -->
         </div>
         <!-- <div class="hippa text-end">
            <img src="@@webRoot/assets/images/icon/hippa.svg" alt=""/>
         </div> -->
      </div>
   </div>
</footer>