<footer class="footer py-20px">
   <div class="container">
      <div class="logo pb-10px mb-20px pb-md-50px mb-md-40px">
         <img src="@@webRoot/assets/care/topcare.png" alt="rola-logo" />
      </div>
      <div class="sub-text mb-20px">
         <p>
            Our team focus on top and empathetic care to our valued participants and families.
         </p>
         <div>
            <ul class="p-0 m-0 d-flex ms-sm-25px mt-5px mt-sm-0 d-block ">
               <li style="display:block" class="d-block text-white">
                  <a href="mailto:falon@gmail.com" class="text-white" target="_blank">Email:to be replace mail</a>
               </li>
               
               <li class="d-block text-white">
                   <a href=""" target="_blank" class="text-white"> Mobile: 0452431397</a>
               </li>
            </ul>
         </div>
      </div>
      <div class="copy-right d-flex align-items-center justify-content-between align-items-md-end">
         <div class="d-block d-sm-flex align-items-center">
            <div>
               <p>
                  © TopCare 2023. 
               </p>
            </div>
            <!-- <div>
               <ul class="p-0 m-0 d-flex ms-sm-25px mt-5px mt-sm-0">
                  <li>
                     <a href="@@webRoot/assets/documents/ROLA-privacy-policy.pdf" target="_blank">Privacy Policy</a>
                  </li>
                  <li class="mx-10px">|</li>
                  <li>
                      <a href="@@webRoot/assets/documents/ROLA-terms-of-use.pdf" target="_blank">Terms of Use</a>
                  </li>
               </ul>
            </div> -->
         </div>
         <!-- <div class="hippa text-end">
            <img src="@@webRoot/assets/images/icon/hippa.svg" alt=""/>
         </div> -->
      </div>
   </div>
</footer>