<header class="header py-25px">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-2 col-6">
				<div class="logo order-1">
					<img src="@@webRoot/assets/care/topcare.png" alt="rola-logo" />
				</div>
			</div>
			<div class="col-md-7 col-12 order-3 order-md-2"><h3 class="mt-15px">
				<span class="d-md-inline d-none">|</span> Top Care, Your Satisfaction
			</h3></div>
			<div class="col-md-3 col-6 order-2 order-md-3">
				<nav class="text-end">
					<a href="tel:+610452431397" class="btn outlined primary py-10px px-25px py-md-15px px-md-30px contact-us"> Contact Us </a>
				</nav>
			</div>
		</div>

	</div>
</header>